
@import url(https://fonts.googleapis.com/css?family=Montserrat);

p {
  font-family: 'Open Sans', sans-serif;
  font-size:
}

h1, .h1 {
padding : 0;
margin-top : 1rem;
margin-bottom : 1rem;
font-size : 1.625rem;
letter-spacing : .03rem;
}

.form-label.form-label-left {
font-family : 'Open Sans', sans-serif;
font-size : 0.85rem;
font-weight : normal;
line-height : 1.4;
margin-bottom : 1.25rem;
text-rendering : optimizeLegibility;
}

a.button : link, a.button:visited {
color : #fff;
font-weight : 400;
}

.button {
font-family : 'Montserrat', 'Tahoma', sans-serif;
font-weight : 400;
text-transform : uppercase;
margin : 1em 0;
letter-spacing : .03rem;
transition : background-color 300ms ease-in-out;
border-radius : 0;
border-style : solid;
border-width : 0;
cursor : pointer;
background-color : #027EA4;
border-color : #026583;
}

.form-textarea {
border : 1px solid #027EA4;
background : #f7f7f7;
padding : 0.5rem;
margin : 0;
}

.form-line.jf-required {
font-family : 'Open Sans', sans-serif;
font-size : 0.85rem;
font-weight : normal;
line-height : 1.4;
margin-bottom : 1.25rem;
text-rendering : optimizeLegibility;
}

.form-submit-button {
background-color : #027EA4!important;
border-radius : 0px;
border-width : 0px;
text-transform : uppercase;
font-family : 'Montserrat', sans-serif;
letter-spacing : 1px;
}

.form-html a {
color : #027EA4;
}

.form-pagebreak-next, .form-pagebreak-back {
text-transform : uppercase;
font-family : 'Montserrat', sans-serif;
letter-spacing : 1px;
border-radius : 0px;
border : 0px;
}

.form-all {
font-family : 'Open Sans', sans-serif;
font-size : 0.85rem;
font-weight : normal;
line-height : 1.4;
margin-bottom : 1.25rem;
text-rendering : optimizeLegibility;
}

#input_2 {
background-color : #027EA4!important;
border-radius : 0px;
border-width : 0px;
text-transform : uppercase;
font-family : 'Montserrat', sans-serif;
letter-spacing : 1px;
}

